    <div class="container" style="padding-top:40px;">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit()">
                  <h1 style="text-align:center">Register</h1>

                  <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="User Name"  formControlName="username">
                  </div>
                  <div class="input-group mb-4">
                    <input type="text" class="form-control" placeholder="Email"  formControlName="email">
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password"  formControlName="password">
                  </div>
                  <button type="submit" class="btn btn-block btn-success">Sign Up</button>
                  <br/>
                    <alert id="registrationAlert"></alert>
                  <div class="text-left">
                      <button type="button" routerLink="/login" class="btn btn-link px-0">Already have an account? Login !</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
