.header {
    color: blue;
    font-family: verdana;
    font-size: 160%;
    border: 1px solid powderblue;
    padding: 30px;
    margin: 50px;
    background-color: #3CBC8D;
}

.text-box {
    background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 230px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}

.div {
    padding: 30px;
    width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

.para {
    color: black;
    font-size: 24px;
    font-family:tahoma, arial, sans-serif;
}